<nav class="nav-bar">
    <a href="/home">
        <img class="nav-logo" src="../../public/images/logos/primary-logo.png" alt="quizville logo">
    </a>

    <ul>
        <li class="home-tab"><a href="/home">Home</a></li>
        <li class="quiz-tab"><a href="/quiz">Quiz</a></li>
    </ul>
    
    <div class="dropdown">
        <img class="profile-photo" src="../../public/images/home_icons/profile-photo-1.png" alt="profile photo">

        <div class="dropdown-content">
          <a href="/profile">Profile</a>
          <a href="#">Settings</a>
          <a href="#">Sign Out</a>
        </div>
    </div>
</nav>