<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

    <div class="home-page">
        <div class="activity-feed">
            <div class="activity-type">
                <span class="local selected">Local</span>
                <span class="global">Global</span>
            </div>

            <div class="post">
                <img class="profile-photo" src="../public/images/home_icons/profile-photo-1.png" alt="profile-photo">

                <div class="post-input-box">
                    <input type="text" name="post" id="post-input" placeholder="What are you up too today..?">
                    <img class="input-icon" id="attach" src="../public/images/input_icons/attach-icon.png" alt="attach icon">
                    <img class="input-icon" id="post" src="../public/images/input_icons/send-icon.png" alt="send icon">
                </div>
            </div>

            <div class="activities">
                <div class="local-activities">
                    <div class="activity">
                        <div class="activity-header">
                            <div class="activity-user">
                                <img class="profile-photo" src="../public/images/home_icons/profile-photo-2.png" alt="profile-photo">
                                <span class="username">perky</span>
                            </div>

                            <span class="time">1hr ago</span>
                        </div>

                        <div class='activity-content'>
                            <p class="text">Completed - Galaxy Quiz</p>
                        </div>

                        <div class="stats">
                            <div class="like stat">
                                <img class="home-icon" src="../public/images/home_icons/like-icon.png" alt="like button">
                                <span class="num-likes">1K</span>
                            </div>
    
                            <div class="comment stat">
                                <img class="home-icon" src="../public/images/home_icons/comment-icon.png" alt="comment button">
                                <span class="num-comments">500</span>
                            </div>
                        </div>

                        <hr class="comment-line">

                        <div class="comment-section">
                            <div class="comment">
                                <div class="comment-profile">
                                    <img class="profile-photo" src="../public/images/home_icons/profile-photo-1.png" alt="profile-photo">
                                    <p class="username">prokingk</p>
                                </div>
                                <p class="comment-content">Well Done!</p>
                                <span class="comment-time">30min ago</span>
                            </div>
                        </div>

                        <hr>

                        <div class="post">
                            <img class="profile-photo" src="../public/images/home_icons/profile-photo-1.png" alt="profile-photo">
                            
                            <form class="post-input-box comment-form">
                                <input type="text" name="post" id="comment-post" placeholder="Write your comment here...">
                                <button type="submit">
                                    <img class="input-icon" src="../public/images/input_icons/attach-icon.png" alt="attach icon">
                                </button>
                                
                                <img class="input-icon" src="../public/images/input_icons/send-icon.png" alt="send icon">
                            </form>
                        </div>

                    </div>
                </div>

                <div class="global-activities">

                </div>
            </div>
        </div>

        <div class="trending">
            <p class="trending-title">Trending</p>
            <div class="trend">
                <p class="trend-scope">Local</p>
                <a class="trend-title" href="#">Galaxy Quiz</a>
                <p class="trend-stat">10K Likes</p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>