<%- include("partials/header"); -%>

    <div class="container">
        <h1>Login</h1>
        <% if (message) { %>
            <p style="color: red;"><%= message %></p>
        <% } %>
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

<%- include("partials/footer"); -%>