<%- include("partials/header"); -%>

    <%- include("partials/navbar"); -%>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Quiz Page</h1>
                <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search quizzes...">
                <div id="quizList">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Quiz 1</h5>
                            <p class="card-text">Description of Quiz 1</p>
                            <button class="btn btn-primary answerBtn">Answer Quiz</button>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Quiz 2</h5>
                            <p class="card-text">Description of Quiz 2</p>
                            <button class="btn btn-primary answerBtn">Answer Quiz</button>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Quiz 3</h5>
                            <p class="card-text">Description of Quiz 3</p>
                            <button class="btn btn-primary answerBtn">Answer Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>