<%- include("partials/header"); -%>

        <main class="signup-page">
            <section class="left-side">
                <h1 class="alt-text"> Already have an account?</h1>

                <button class="signin-button">
                    <span class="signin-button-text">SIGN IN</span>
                </button>
            </section>

            <section class="right-side">
                <img class="logo" src="../public/images/logos/primary-logo.png" alt="quizville logo" />

                <h1 class="signup-title">SIGN UP</h1>
                <p class="signup-cta">Create an account and join the community!</p>

                <% if (message) { %>
                    <p class="error-message"><%= message %></p>
                <% } %>

                <form class="signup-form" action="/signup" method="post">
                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/name-icon.png" alt="name input icon">
                        <input type="text" name="name" placeholder="NAME">
                    </div>

                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/surname-icon.png" alt="surname input icon">
                        <input type="text" name="surname" placeholder="SURNAME">
                    </div>

                    <p class="error" id="username-error"></p>
                    
                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/username-icon.png" alt="username input icon">
                        <input type="text" name="username" placeholder="USERNAME" id="username" required>
                    </div>

                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/email-icon.png" alt="email input icon">
                        <input type="email" name="email" placeholder="EMAIL" required>
                    </div>

                    <p class="error" id="password-error"></p>

                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/password-icon.png" alt="password input icon">
                        <input type="password" name="password" placeholder="PASSWORD" id="password" required>
                    </div>

                    <p class="error" id="confirm-password-error"></p>

                    <div class="input-box">
                        <img class="input-icon" src="../public/images/input_icons/confirm-password-icon.png" alt="confirm-password input icon">
                        <input type="password" name="confirm-password" placeholder="CONFIRM PASSWORD" id="confirm-password" required>
                    </div>

                    <button type="submit" class="signup-button" id="submit-button" disabled>
                        <b class="signup-button-text">SIGN UP</b>
                    </button>
                </form>
            </section>
        </main>
    </body>

    <script src="../public/js/signup-in.js"></script>

</html>