<%- include("partials/header"); -%>

        <div class="splash-page">
            <div class="header">
                <img class="primary-logo" src="../public/images/logos/primary-logo.png" alt="quizville logo" />
                <div class="title">
                    <h1 class="welcome-text">WELCOME TO QUIZVILLE</h1>
                    <span class="slogan-text">The home where intellect and imagination intertwine!</span>
                </div>
            </div>

            <div class="offers">
                <div class="info">
                    <img class="icon" src="../public/images/icons/answer-icon.png" alt="answer icon" />
                    <br>
                    <b class="info-title">ANSWER</b>
                    <br>
                    <p class="info-content">
                        Embark on an intellectual gauntlet, facing challenging questions
                        that push boundaries, elevating understanding to new heights
                    </p>
                </div>

                <div class="info">
                    <img class="icon" src="../public/images/icons/create-icon.png" alt="create icon" />
                    <br>
                    <br>
                    <b class="info-title">CREATE</b>
                    <br>
                    <p class="info-content">
                        Unleash your creative genius, crafting quizzes that captivate.
                        Share knowledge and leave a lasting impact on curious minds
                    </p>
                </div>

                <div class="info">
                    <img class="icon" src="../public/images/icons/interact-icon.png" alt="interact icon" />
                    <br>
                    <br>
                    <b class="info-title">INTERACT</b>
                    <br>
                    <p class="info-content"">
                        Dive into a vibrant knowledge-seeking community, forging
                        connections, exchanging insights, and battling in thrilling
                        quizzes.
                    </p>
                </div>
            </div>

            <div class="cta">
                <p class="cta-text">
                    A journey of discovery awaits you
                    <br>
                    Sign up now and join the community!
                </p>

                <button class="signup-button" id="signup-button">
                    <b class="signup-button-text">SIGN UP</b>
                </button>

                <p class="signin-text">
                    Already have an account..?
                    <br>
                    sign in and continue your journey
                </p>

                <button class="signin-button">
                    <span class="signin-button-text">SIGN IN</span>
                </button>
            </div>

            <div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
    </body>

    <script src="../public/js/splash.js"></script>

</html>