<%- include("partials/header"); -%>

    <div class="header">

        <img class="primary-logo-icon" alt="" src="./public/primary-logo@2x.png" />

        <div class="title">
            <h1 class="welcome-text">WELCOME TO QUIZVILLE</h1>
            <p class="slogan">The home where intellect and imagination intertwine!</p>
        </div>

    </div>

    <div class="splash-page">

        <div class="offers">

            <div class="answer">

                <img class="interact-icon" alt="" src="./public/answer-icon@2x.png" />

                <div class="answer-info">

                    <p class="already-have-an"><b>ANSWER</b></p>

                    <br>

                    <p class="dive-into-a">
                        Embark on an intellectual gauntlet, facing challenging questions
                        that push boundaries, elevating understanding to new heights
                    </p>
                </div>
            </div>

            <div class="create">

                <img class="create-icon" alt="" src="./public/create-icon@2x.png" />

                <div class="create-info">

                    <p class="already-have-an"><b>CREATE</b></p>

                    <br>

                    <p class="dive-into-a">
                        Unleash your creative genius, crafting quizzes that captivate.
                        Share knowledge and leave a lasting impact on curious minds
                    </p>

                </div>

            </div>

            <div class="interact">

                <img class="interact-icon" alt="" src="./public/interact-icon@2x.png" />

                <div class="interact-info">

                    <p class="already-have-an">INTERACT</p>

                    <p class="dive-into-a">
                        Dive into a vibrant knowledge-seeking community, forging
                        connections, exchanging insights, and battling in thrilling
                        quizzes.
                    </p>

                </div>

            </div>

        </div>

        <div class="call-to-action">

            <button class="login-button">
                <div class="login-button-text">LOGIN</div>
            </button>

            <div class="login-text">
                <span class="login-text-txt-container">
                    <p class="already-have-an">Already have an account..?</p>
                    <p class="already-have-an">Login and continue your journey</p>
                </span>
            </div>

            <button class="signup-button">
                <b class="signup-button-text">SIGN UP</b>
            </button>

            <div class="call-to-action-container">
                <p class="already-have-an">A journey of discovery awaits you!</p>
                <p class="already-have-an">Sign up now and join the community</p>
            </div>

        </div>
    </div>
    </body>

</html>