body {
    margin: 0;
}

:root {
    /* fonts */
    --font-main: 'Raleway', sans-serif;
    --font-cursive: 'Caprasimo', cursive;

    /* font sizes */
    --font-size-text: 1.5rem;
    --font-size-title: 2.5rem;
    --font-size-small-title: 2rem;

    /* spacing */
    --spacing-large: 4rem;
    --spacing-normal: 2rem;

    /* Colors */
    --color-primary-blue: #1363df;
    --color-secondary-blue: #47B5FF;
}