body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-main: 'Raleway', sans-serif;
    --font-cursive: 'Caprasimo', cursive;

    /* font sizes */
    --font-size-21xl: 2.5rem;
    --font-size-5xl: 1.5rem;
    --font-size-11xl: 1.88rem;
    --font-size-16xl: 2.19rem;

    /* Colors */
    --color-white: #fff;
    --color-royalblue: #1363df;

    /* Gaps */
    --gap-29xl: 3rem;

    /* Paddings */
    --padding-8xs: 0.31rem;

    /* border radiuses */
    --br-31xl: 50px;
}