body {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

:root {
  /* fonts */
  --font-main: "Raleway", sans-serif;
  --font-cursive: "Caprasimo", cursive;

  /* font sizes */
  --font-size-small-text: 1rem;
  --font-size-text: 1.5rem;
  --font-size-title: 2.5rem;
  --font-size-small-title: 2rem;

  /* spacing */
  --spacing-large: 4rem;
  --spacing-normal: 2rem;

  /* Colors */
  --color-primary-blue: #1363df;
  --color-secondary-blue: #47b5ff;
  --color-tertiary-blue: #06283d;
  --color-tertiary-lightblue: #dff6ff;
  --color-primary-grey: #808080;
  --color-secondary-grey: #efebeb;
}
